// cover some element-ui styles

.el-breadcrumb__inner,
.el-breadcrumb__inner a {
  font-weight: 400 !important;
}

.el-upload {
  input[type="file"] {
    display: none !important;
  }
}

.el-upload__input {
  display: none;
}

.cell {
  .el-tag {
    margin-right: 0px;
  }
}

.small-padding {
  .cell {
    padding-left: 5px;
    padding-right: 5px;
  }
}

.fixed-width {
  .el-button--mini {
    padding: 7px 10px;
    width: 60px;
  }
}

.status-col {
  .cell {
    padding: 0 10px;
    text-align: center;

    .el-tag {
      margin-right: 0px;
    }
  }
}

// to fixed https://github.com/ElemeFE/element/issues/2461
.el-dialog {
  transform: none;
  left: 0;
  position: relative;
  margin: 0 auto;

  .el-dialog__body {
    max-height: 80vh;
    overflow: hidden;
    overflow-y: auto;
  }
}

// refine element ui upload
.upload-container {
  .el-upload {
    width: 100%;

    .el-upload-dragger {
      width: 100%;
      height: 200px;
    }
  }
}

// dropdown
.el-dropdown-menu {
  a {
    display: block
  }
}

// fix date-picker ui bug in filter-item
.el-range-editor.el-input__inner {
  display: inline-flex !important;
}

// to fix el-date-picker css style
.el-range-separator {
  box-sizing: content-box;
}

.el-menu--collapse>div>.el-submenu>.el-submenu__title .el-submenu__icon-arrow {
  display: none;
}

.el-dropdown .el-dropdown-link {
  color: var(--el-color-primary) !important;
}

/* wsllTable */
.wsll-table {
  height: 100%;
}
.wsll-table,
.table-main {
  display: flex;
  flex: 1;
  flex-direction: column;
  width: 100%;

  // table-search 表格搜索样式
  .table-search {
    padding: 16px 10px 0;
    margin-bottom: 10px;

    .el-form {
      .el-form-item__content>* {
        width: 100%;
      }

      // 去除时间选择器上下 padding
      .el-range-editor.el-input__wrapper {
        padding: 0 10px;
      }
    }

    .operation {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      margin-bottom: 18px;
    }
  }

  // 表格 header 样式
  .table-header {
    .header-button-lf {
      float: left; 
    }

    .header-button-ri {
      float: right;
      height: 100%;
      display: flex;
      align-items: center;
    }

    .el-button {
      margin-bottom: 10px;
    }
  }

  // el-table 表格样式
  .el-table {
    flex: 1;

    // 修复 safari 浏览器表格错位 https://github.com/HalseySpicy/Geeker-Admin/issues/83
    table {
      width: 100%;
    }

    .el-table__header th {
      height: 45px;
      font-size: 15px;
      font-weight: bold;
      color: var(--el-text-color-primary);
      background: var(--el-fill-color-light);
    }

    .el-table__row {
      height: 45px;
      font-size: 14px;
    }

    // 设置 el-table 中 header 文字不换行，并省略
    .el-table__header .el-table__cell>.cell {
      white-space: nowrap;
    }

    .el-table__body-wrapper {
      min-height: 120px;
    }
    .el-scrollbar__view {
      height: 100%;
    }

    // 解决表格数据为空时样式不居中问题(仅在element-plus中)
    .el-table__empty-block {
      // padding: 15px 0;
      .el-table__empty-text {
        line-height: normal;
        // height: 90px;
        // margin-top: 15px;
      }
      // position: absolute;
      // top: 50%;
      // left: 50%;
      // transform: translate(-50%, -50%);
      .table-empty {
        // line-height: 60px;
      }
    }

    // table 中 image 图片样式
    .table-image {
      width: 50px;
      height: 50px;
      border-radius: 50%;
    }
  }

  // 表格 pagination 样式
  .el-pagination {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
  }
}
.wsll-table {
  overflow: hidden;
}

/* el-table 组件大小 */
.el-table--small {
  .el-table__header th {
    height: 40px !important;
    font-size: 14px !important;
  }

  .el-table__row {
    height: 40px !important;
    font-size: 13px !important;
  }
}

.el-table--large {
  .el-table__header th {
    height: 50px !important;
    font-size: 16px !important;
  }

  .el-table__row {
    height: 50px !important;
    font-size: 15px !important;
  }
}

/* el-drawer */
.el-drawer {
  .el-drawer__header {
    padding: 16px 20px;
    margin-bottom: 0;
    border-bottom: 1px solid var(--el-border-color-lighter);

    span {
      font-size: 17px;
      line-height: 17px;
      color: var(--el-text-color-primary) !important;
    }
  }

  .el-drawer__footer {
    border-top: 1px solid var(--el-border-color-lighter);
  }

  // select 样式
  .el-select {
    width: 100%;
  }

  // drawer-form 中存在两列 form-item 样式
  .drawer-multiColumn-form {
    display: flex;
    flex-wrap: wrap;

    .el-form-item {
      width: 47%;

      &:nth-child(2n-1) {
        margin-right: 5%;
      }
    }
  }
}

/* custom card */
.card {
  box-sizing: border-box;
  //padding: 10px;
  padding: 8px 10px 10px 16px;
  overflow-x: hidden;
  background-color: var(--el-bg-color);
  border: 1px solid var(--el-border-color-light);
  border-radius: 8px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.06);
  background: #FDFDFD;
}
.min-card {
  box-sizing: border-box;
  //padding: 10px;
  padding: 6px 8px 8px 6px;
  overflow-x: hidden;
  background-color: var(--el-bg-color);
  border: 1px solid var(--el-border-color-light);
  border-radius: 2px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.06);
  background: #FDFDFD; 
}
/* ProTable 不需要 card 样式（在组件内使用 ProTable 会使用到） */
.no-card {
  .card {
    padding: 0;
    background-color: transparent;
    border: none;
    border-radius: 0;
    box-shadow: none;
  }

  .table-search {
    padding: 18px 0 0 !important;
    margin-bottom: 0 !important;
  }
}

.wsllTableBox {
  overflow-x: hidden;
}

.el-form-item__content .el-select {
  width: 100%;
}
.el-table__expand-icon{
  color: #000 !important;
  font-weight: 500;
}
.el-input__inner, .el-input__prefix{
  color: #000 !important;
}
.el-select-dropdown__item{
 color: #000 !important;
}
.el-pagination__sizes, .el-pagination__total,.el-pagination__jump{
   color: #000 !important;
}
.el-select__placeholder{
  // color: #000 !important;
}
/* 默认文字 */
.el-radio-button__inner {
  color: #000 !important;
}
// .el-button.el-button--default {
//   color: #000 !important;
// }
// .el-button--primary.el-button--default{
//  color: #ffffffff !important;
// }
.table-search  .el-button.el-button--default{
 color: #000 !important;
}
.table-search  .el-button--primary.el-button--default{
 color: #ffffffff !important;
}
.table-search .el-button--primary.is-link{
 color: #000 !important;
}
.table-search .el-form {
 margin-top: 14px;
}



/* 选中态 —— 注意把 is-active 写在同一个元素上 */
.el-radio-button.is-active .el-radio-button__inner {
  color: #ffffffff !important;
}
.el-date-editor {
  width: 100% !important;
}
 
.el-tabs--border-card > .el-tabs__header .el-tabs__item {
  color: #000 !important;
}
.el-tabs--border-card > .el-tabs__header .el-tabs__item.is-active {
  color: #409EFF !important;
}
.el-form-item__label {
  color: #000 !important;
  font-weight: 600;
  font-size: 14px;
}
 .el-table__header {
  & .cell {
    color: #000;
    font-weight: 600;
    font-size: 14px;
  }
}
.vxe-table--header {
  & .vxe-cell {
    color: #000;
    font-weight: 600;
    font-size: 14px;
  }
}

.el-table__row {
  & .cell {
    color: #000;
    font-weight: 0;
    font-size: 14px;
  }
}
  .vxe-body--row {
  & .vxe-cell {
    color: #000;
    font-weight: 0;
    font-size: 14px;
  }
} 

.background_gradient_afd9fb{
  background: linear-gradient(180deg, #afd9fb 0%, #ffffff 100%) !important;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.06) !important;
  border: 1px solid #e9ebee !important;
  border-radius: 6px !important;
  scroll-snap-align: start !important;
  -webkit-border-radius: 6px !important;
  -moz-border-radius: 6px !important;
  -ms-border-radius: 6px !important;
  -o-border-radius: 6px !important;
}